<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inovel.mapper.BookContentMapper">

    <select id="findByBookId" parameterType="long" resultType="com.inovel.entity.BookContent">
        SELECT * FROM book_content WHERE book_id = #{bookId} ORDER BY chapter_order
    </select>

    <select id="findByBookIdAndOrder" parameterType="map" resultType="com.inovel.entity.BookContent">
        SELECT * FROM book_content WHERE book_id = #{bookId} AND chapter_order = #{order}
    </select>

    <insert id="insert" parameterType="com.inovel.entity.BookContent">
        INSERT INTO book_content (book_id, title, content, chapter_order, word_count)
        VALUES (#{bookId}, #{title}, #{content}, #{chapterOrder}, #{wordCount})
    </insert>

    <insert id="insertBatch" parameterType="list">
        INSERT INTO book_content (book_id, title, content, chapter_order, word_count)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.bookId}, #{item.title}, #{item.content}, #{item.chapterOrder}, #{item.wordCount})
        </foreach>
    </insert>

    <delete id="deleteByBookId" parameterType="long">
        DELETE FROM book_content WHERE book_id = #{bookId}
    </delete>
</mapper>
